

<nav>
  <ul>
    <li>Filter by:</li>
    <li> <a href="/beasts">All Beasts</a></li>
    <li><a href="/beasts/adoptable">Adoptable</a></li>
    <li><a href="/beasts/not-adoptable">Not Adoptable</a></li>
    <li><a href="/beasts/type">Find by Type</a></li>
    <br>
    <br>
    <li><a href="/beasts/new">New Beast</a></li>
  </ul>
</nav>

<h1>Beasts Not Available to Adopt</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Status</th>
  </tr>
  <% for beast in @beasts %>
  <% if beast.adoption_status.downcase == 'not adoptable' %>
  <tr>
    <td> <a href="/beasts/<%= beast.id %>"><%= beast.name.capitalize %></a> </td>
    <td> <%= beast.type.capitalize %> </td>
    <td> <%= beast.adoption_status.capitalize %>
  </tr>
  <% end %>
  <% end %>
</table>
