<body class="main">
  <div class="main">
<h1 class="main">Welcome to Newt's Beast Shelter</h1>


<p class="main">I'm Newt Scamander. I am a Magizoologist and have dedicated my life to collecting and caring for magical creatures. I have travelled the world collecting these beasts and they mean a lot to me. Therefore, I am looking for caring individuals who will adopt these amazing creatures and care for them as I would. If you feel you are up to the job, please contact me and I will be able to assess your suitablility to care for one of my beasts.</p>
</div>
<img src="images/newt.png" alt="Newt Scamander" height="350">
<body>
