<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles/structure.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <header>
    <h1 class="layout">Newt Scamander's Beast Shelter</h1>
    <nav class="layout">
      <ul>
        <li><a href="/">Home</a></div>
        <li><a href="/beasts">Beasts</a></li>
        <li><a href="/owners">Owners</a></li>
        <li><a href="/adoptions">Adoptions</a></li>
      </ul>
    </nav>
  </header>
    <section>
    <%= yield %>
    </section>
</html>
