<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <nav>
      <ul>
        <li>
          <a href="/beasts">Beasts</a>
        </li>
        <li>
          <a href="/owners">Owners</a>
        </li>
        <li>
          <a href="/adoptions">Adoptions</a>
        </li>
      </ul>
    </nav>
    <section>
    <%= yield %>
    </section>
  </body>
</html>
