<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles/structure.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <nav>
      <div><a href="/">Home</a></div>
      <div><a href="/beasts">Beasts</a></div>
      <div><a href="/owners">Owners</a></div>
      <div><a href="/adoptions">Adoptions</a></div>
    </nav>
    <section>
    <%= yield %>
    </section>
  </body>
</html>
