<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles/structure.css">
    <link rel="stylesheet" href="/styles/tables.css">
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/buttons.css">
    <link href="https://fonts.googleapis.com/css?family=Karma|Merienda" rel="stylesheet">    <title></title>
  </head>
  <header>
    <h1 class="layout">Newt Scamander's Beast Shelter</h1>
    <nav class="layout">
      <ul>
        <li><a class="layout" href="/">Home</a></div>
        <li><a class="layout" href="/beasts">Beasts</a></li>
        <li><a class="layout" href="/owners">Owners</a></li>
        <li><a class="layout" href="/adoptions">Adoptions</a></li>
      </ul>
    </nav>
  </header>
    <section>
    <%= yield %>
    </section>
</html>
