<head>
  <link rel="stylesheet" href="/styles/structure.css">
</head>

<nav>
  <div><a href="/beasts/new">New Beast</a></div>
  <div><a href="/beasts/adoptable">Adoptable</a></div>
  <div><a href="/beasts/not-adoptable">Not Adoptable</a></div>
</nav>


<h1>Beasts Available to Adopt</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Status</th>
  </tr>
  <% for beast in @beasts %>
  <% if beast.adoption_status.downcase == 'adoptable' %>
  <tr>
    <td> <a href="/beasts/<%= beast.id %>"><%= beast.name.capitalize %></a> </td>
    <td> <%= beast.type.capitalize %> </td>
    <td> <%= beast.adoption_status.capitalize %>
  </tr>
  <% end %>
  <% end %>
</table>
