input[type=submit] {
  padding: 5px 15px;
  background: #e7e7db;
  color: #b29749;
  font-size: 12px;
  border: 0 none;
  border-radius: 4px;
  font-family: Montserrat;
  cursor: pointer;
  margin-left: 10px;
}

input[type=submit]:active {
  top: 5px;
}
