td, th {
  text-align: left;
  border: 0px solid black;
  color: #b29743;
  font-family: Karma;
	font-size: 20px;
}

td {
  padding: 10px 20px;
  text-align: center;
}

th {
  height: 30px;
  text-align: center;
  border-bottom: 1px solid black;
}

table {
  margin-top: 40px;
  margin-left: 30px;
  border-collapse: collapse;
  font-size: 16px;
}
