<head>
  <link rel="stylesheet" href="/styles/structure.css">
</head>
<body>
<nav>
  <ul>
    <li><a href="/owners/new">New Owner</a></li>
  </ul>
</nav>

<form action="/owners/<%= @id %>" method="post">

  <label for="first-name-field">First Name:</label>
  <input type="text" name="first_name" id="first-name-field" value="<%= @owner.first_name %>">
  <br>
  <br>
  <label for="last-name-field">Last Name:</label>
  <input type="text" name="last_name" id="last-name-field" value="<%= @owner.last_name %>">
  <br>
  <br>
  <input type="submit" value="Update Owner">

</form>
</body>
