<head>
  <link rel="stylesheet" href="/styles/structure.css">
</head>
<nav>
  <div><a href="/owners/new">New Owner</a></div>
</nav>

<h1>Owners</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for owner in @owners %>
  <tr>
    <td> <a href="/owners/<%= owner.id %>"><%= owner.full_name %></a> </td>
  </tr>
  <% end %>
</table>
