
<nav>
  <ul>
    <li>Filter by:</li>
    <li> <a href="/beasts">All Beasts</a></li>
    <li><a href="/beasts/adoptable">Adoptable</a></li>
    <li><a href="/beasts/not-adoptable">Not Adoptable</a></li>
    <li><a href="/beasts/type">Find by Type</a></li>
    <br>
    <br>
    <li><a href="/beasts/new">New Beast</a></li>
  </ul>
</nav>

<form action="/beasts" method="post">

  <label for="name-field">Name: </label>
  <input type="text" name="name" id="name-field">
  <br>
  <br>
  <label for="type-field">Type: </label>
  <input type="text" name="type" id="type-field">
  <br>
  <br>
  <label for="collection-date-field">Collection date: </label>
  <input type="date" name="collection_date" id="collection-date-field" value="1926-10-10">
  <br>
  <br>
  <label for="adoption-status-field">Adoption Status: </label>
  <select name="adoption_status" id="adoption-status-field">
    <option value="Adoptable">Adoptable</option>
    <option value="Not Adoptable">Not Adoptable</option>
    <option value="Adopted">Adopted</option>
  </select>
  <br>
  <br>
  <label for="characteristics-field">Characteristics: </label>
  <input type="text" name="characteristics" id="characteristics-field">
  <br>
  <br>
  <label for="diet-field">Diet: </label>
  <input type="text" name="diet" id="diet-field">
  <br>
  <br>
  <label for="image-field">Add Image: </label>
  <input type="text" name="image" value="/images/">
  <br>
  <br>
  <input type="submit" value="Add Beast">

</form>
